server:
  port: 8083

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/auth/**
              filters:
                - PreserveHostHeader=true
                - RewritePath=/api/auth/(?<segment>.*), /api/auth/${segment}
      default-filters:
        - AddResponseHeader=X-Gateway-Service, Choimart-Gateway
    discovery:
      enabled: false
    config:
      enabled: false

  logging:
    level:
      org.springframework.cloud.gateway: TRACE
      org.springframework.web: DEBUG

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

management:
  endpoint:
    web:
      exposure:
        include: "*"