server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    routes:
      - id: auth-service
        uri: http://localhost:8081
        predicates:
          - Path=/api/auth/**
    default-filters:
      - AddResponseHeader=X-Gateway-Service, Choimart-Gateway

management:
  endpoint:
    web:
      exposure:
        include: "*"